@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/Helvetica-Neue-UltraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/Helvetica-Neue-Thin-Italic.otf') format('truetype');
  font-style: italic;
  font-weight: 100;
}

h1 {
  font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif !important;
  font-weight: 100;
}

:root {
  --body-color: #686868;
  --action-color: #dadada;
  --secondary-color: #855959;
  --primary-color: #ebada9;
  --default-color: #240808;
  --input-color: #f1f1f1;
}
